.report_container{
}
.report_container .report_wrapper{
    width: 60%;
}
.report_container .report_notification{
    height: 20px;
}
.report_container .report_wrapper_blocker{
    display: inline-block;
    width: 19%;
    height: 100%;
}