<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="org.softcits.cn.mapper.CityMapper">

  <!-- Integer insertCity(CityPojo cityPojo); -->
  <insert id="insertCity" parameterType="org.softcits.cn.pojo.CityPojo">
 INSERT INTO city(city_name, city_id) VALUES (#{name}, #{id})
  </insert>
  
  <!-- City getCityByCityId(String city_id); -->
  <select id="getCityByCityId" resultType="org.softcits.cn.model.City">
  	SELECT id, city_name, city_id FROM city WHERE city_id = #{cityId};
  </select>
  
  <!-- List<City> getAllCities() -->
  <select id="getAllCities" resultType="org.softcits.cn.model.City">
  	SELECT id, city_name, city_id FROM city;
  </select>
 
</mapper>