<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 
  	namespace: mapper interface name
  	id: fucntion name
  	resultType: return type
   -->
<mapper namespace="org.softcits.cn.mapper.OccupationMapper">
  <select id="getFirstOccupation" resultType="org.softcits.cn.model.Occupation">
   select Name, Occupation from occupations limit 0,1
  </select>
  
  <!-- List<Occupation> getAllOccupations(); -->
  <select id="getAllOccupations" resultType="org.softcits.cn.model.Occupation">
  	SELECT NAME, Occupation FROM occupations
  </select>
  
  <!-- Occupation getOccupationByName(String name); -->
  <select id="getOccupationByName" resultType="org.softcits.cn.model.Occupation"
  	parameterType="java.lang.String">
  	SELECT NAME, Occupation FROM occupations WHERE NAME = #{name, jdbcType=VARCHAR}
  	</select>
  	
  <!--  List<Occupation> getOccupationByNamePrefix(String prefix); -->
  <select id="getOccupationByNamePrefix" resultType="org.softcits.cn.model.Occupation"
  	parameterType="java.lang.String">
  	SELECT NAME, Occupation FROM occupations WHERE NAME LIKE #{prefix, jdbcType=VARCHAR}
  </select>
  
  <!-- int updateOccupationByName(@Param(value="_name")String name, @Param(value="_occp")String occp); -->
  <update id="updateOccupationByName">
  	UPDATE occupations SET Occupation=#{_occp, jdbcType=VARCHAR} WHERE NAME = #{_name, jdbcType=VARCHAR}
  </update>
  
  <!-- int insertOccupation(String name, String occp); -->
  <insert id="insertOccupation">
  	INSERT INTO occupations(NAME, Occupation) VALUES ( #{param1}, #{param2});
  </insert>
  
  <!-- int deleteOccupation(Map<String, Object> map); -->
  <delete id="deleteOccupation" parameterType="java.util.Map">
  	DELETE FROM occupations WHERE NAME=#{name} AND Occupation = #{occp}
  </delete>
  
  <!-- Occupation getByNameAndOccupation(Occupation occp); -->
  <select id="getByNameAndOccupation" resultType="org.softcits.cn.model.Occupation"
  	parameterType="org.softcits.cn.model.Occupation">
  	select name, Occupation from occupations where Name=#{Name, jdbcType=VARCHAR} and Occupation=#{Occupation, jdbcType=VARCHAR}
  	</select>
</mapper>